$basicTextColor: #32322C;
$topicDarkBlue: #4C6085;
$topicLightBlue: #39A0ED;
$topicLightGreen: #36F1CD;
$topicGreen: #00BD9D;
$backgroundColor: #f6f6f6;

$normalText: 18px;
$titleText: 28px;
$hightlightText: 45px;