$basicTextColor: #32322c;
$lightTextColor: #e4e4e4;
$topicDarkBlue: #4c6085;
$topicLightBlue: #39a0ed;
$topicLightGreen: #36f1cd;
$topicGreen: #00bd9d;

$topicViolet: rgb(108, 67, 146);
$backgroundColor: #eee;

$normalText: 18px;
$titleText: 28px;
$hightlightText: 45px;
